*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    --primary-color: #000000;
    --secondary-color: #fff;
    --tertiary-color: #333;
}

.light-theme{
    --primary-color: #fff;
    --secondary-color: #000000;
    --tertiary-color: #d3cece;
}

body{
    background: #333;
    color: var(--secondary-color);
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gradient-background {
    background: linear-gradient(317deg,#000000,#333333,#5d5d5d,#1b181b,#595659);
    background-size: 300% 300%;
    animation: gradient-animation 20s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.container{
    width: 800px;
    height: 419px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 1px solid var(--secondary-color);
    display: flex;
}

.sidebar{
    margin-top: 15px;
    width: 50px;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sidebar-content{
    width: 80px;
}

.list{
    list-style: none;
    padding: 0;
}

.list-item{
    margin-bottom: 10px;
    font-size: 28px;
    cursor: pointer;
    padding: 10px;
    width: 50px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--tertiary-color);
}

.list-item:hover, .list-item.active{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.notification{
    padding: 5px 25px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
    margin-bottom: 5%;
    color: #000;
    background-color: #adabad;
    font-size: 8px;
    display: flex;
    justify-content: space-between;
}

.notification h1 span{
    padding: 0 0 0 10px;
}

#time{
    padding: 0 0 0 100px;
}

#navigation{
    margin-top: 15px;
}

.map{
    border-radius: 25px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

#music{
    width: 100%;
    margin-top: 15px;
}

.music-player{
    background-color: var(--primary-color);
    width: 100%;
    padding: 0 40px;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 0 5px 10px rgba(255,26,26,0.15);
}

.song-img{
    width: 155px;
    border-radius: 5%;
    border: 8px solid var(--secondary-color);
    box-shadow: 0 10px 60px rgba(255,26,26,0.22);
}

.music-player h1{
    font-size: 25px;
    font-weight: 400;
    color: var(--secondary-color);
    margin-top: 10px;
}

.music-player p{
    font-size: 14px;
    color: var(--tertiary-color);
    margin-top: 5px;
}

.slider-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#progress{
    flex-basis: 61%;
    appearance: none;
    width: 100%;
    height: 6px;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 4px;
    cursor: pointer;
    margin: 19px 10px;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: var(--primary-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
    box-shadow: 0 5px 5px rgba(255,26,26,0.15);
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div{
    width: 40px;
    height: 40px;
    margin: 19px;
    background-color: var(--secondary-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--primary-color);
    box-shadow: 0 10px 20px rgba(255,26,26,0.15);
    cursor: pointer;
}

.controls div:nth-child(2){
    transform:  scale(1.5);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#apps{
    width: 100%;
    height: 389px;
    margin-left: 10px;
    overflow-y: scroll;
    z-index: -1;
    scroll-behavior: smooth;
}

#apps::-webkit-scrollbar { 
    display: none;
}

.app-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap: 34px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.app{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--tertiary-color);
}

.app img{
    width: 100%;
    height: 141px;
    border-radius: 10px;
    display: block;
    background-size: contain;
    overflow: hidden;
    transition: transform 0.5s;
}

.no-border{
    border: none;
}

.app:hover img{
    transform: scale(1.1);
}

.containerVideo{
    width: 800px;
    height: 421px;
    padding: 5px 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 1px solid var(--secondary-color);
}

.videoplayer{
    width: 100%;
    height: 100%;
}

video{
    width: 100%;
    height: 100%;
}

.home{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 16px;
    padding: 5px;
    text-align: center;
    width: 40px;
}

.facebook{
    background-color: #fff;
}

#settings{
    width: 100%;
}

.setting{
    width: 100%;
    padding: 35px;
}

.range{
    appearance: none;
    width: 77%;
    height: 6px;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 4px;
    cursor: pointer;
    margin: 19px 0;   
}

.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: var(--primary-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);    
}

.setting div{
    margin-top: 15px;
}

.more{
    display: flex;
}

.more-setting{
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mode{
    background-color: var(--secondary-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-style{
    color: var(--primary-color);
    font-size: 26px;
}

.containerPowerOn{
    width: 800px;
    height: 421px;
    padding: 5px 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 1px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerPowerOn .icon-style:hover{
    color: green;
}

.power-off:hover{
    color: red;
}

.containerPowerOn .mode{
    margin-bottom: 15px;
}

.no{
    display: none;
}
